name: CI
on: [push]
jobs:
  
  job_1:
    name: job1
    
    runs-on: self-hosted
    defaults:
      run:
        working-directory: ./react
    strategy:
        matrix:
          node-version: [14.x,15.x,16.x]
        max-parallel: 1
    steps:
      - uses: actions/checkout@v1
        with:
          node-version: ${{matrix.node-version}}
      - name: Run a one-line script
        run: echo Hello, world!
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, add deploy your project

      - name: npm installaton script
        run:  npm i
      - name: npm build script
        run: npm run build
      - name: storing artifact
        uses: actions/upload-artifact@v1
        with:
          name: build-folder
          path: react/${{matrix.node-version}}/*
      - name : echo
        run: echo npm i worked
  job_2:
    name: job2
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
        with:
          node-version: 15.x
      - name: second job running
        run: echo second job successfully running created after job1
