name: CI
on: [push]
jobs:
  job_1:
    name: job1
    runs-on: self-hosted
    # defaults:
    #   run:
    #     working-directory: react
    strategy:
        matrix:
          node-version: [14.x]
        max-parallel: 1
    steps:
      # - uses: actions/checkout@v1
      #   with:
      #     node-version: ${{matrix.node-version}}
      - name: Run a one-line script
        run: echo Hello, world!
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, add deploy your project

      - name: npm installaton script
        run:  npm i
      - name: npm build script
        run: npm run build
      - name: storing artifact
        uses: actions/upload-artifact@v3
        with:
          name: build
          path: build
      - name : echo
        run: echo npm i worked
  job_2:
    name: job2
    runs-on: self-hosted
    needs: job_1

    steps:
      - uses: actions/checkout@v3
      - name: Download build
        
        uses: actions/download-artifact@v3
        with:
          name: build
          path: build
      - name: test artifact download
        run: ls -R
      - name: copy job
        run: xcopy build C:\Users\scheruku\Documents\artifact\ /E /H /Y
